<div class="container">
    <div class="row">
        <div class="col-12 container-fluid">
            <div class="row " >
                <div class="col-6">
                    <img src="{{prod.image}}" alt="{{prod.title}}" class="img-fluid product-img1">
                </div>
                <div class="col-6">
                    <h3>{{prod.title}}</h3>
                    <details>
                        <summary>{{prod.category}}</summary>
                    </details>
                    <p>{{prod.description}}</p>
                    <p class="p-2">Price: {{prod.price}}</p>
                    <div class="d-flex justify-content-center align-items-center py-5">
                        <button class="btn btn-outline-secondary" (click)="AddToCart(prod)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>